.flex-container{
    display: flex;
    justify-content: space-between;
}

.imagem1{
    width: 640px;
    height: 480px;
    border-radius: 25px;
}

h1 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

a.navbar-brand {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.155em;
    
    color: #FFFFFF;
}

img.d-block{
    width: 1000px;
    height: 550px;
    justify-content: center;
}