h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

div.h1{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

a.navbar-brand {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.155em;
    
    color: #000;
}

.container-fluid{
    padding: 0;
}

#slide .carousel-inner, #slide .carousel-item{
    height: 100vh;
}

#slide .carousel-caption h2{
    font-family: 'Poppins';
    font-size: 50px;
    color: red;
}

#slide .carousel-caption p{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 300;
    color: red;
}

.main-btn{
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30x;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: #000;
}

.carousel-indicators .active{
    background-color: red;
}